@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,700;1,9..40,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    background-color: #06141b;
    font-family: 'DM Sans', sans-serif;
    color: #ccd0cf;
}

.container {
    margin: 0 10px 0 10px;
}

#app {
    /* font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #f5a700; */
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #06141b;
    transition: opacity 2s, visibility 2s;
}
 .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 2px solid #dddddd;
    border-top-color: #4a5cba;
    border-radius: 50%;
    animation: loading 1.5s ease-in-out infinite;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

@keyframes loading {
    from {transform: rotate(0turn);}
    to {transform: rotate(1turn);}
}

/* ==BEGIN-FONTS== */

h1 {
    margin: 0;
    padding: 0;
}

p {
  margin: 0;
}

.accent-font {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
  }  

/* ==END-FONTS== */

/* ==BEGIN-LENIS== */
html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
/* ==END-LENIS== */

/* ==BEGIN-LINKS== */

a {
    text-decoration: none;
    color: #d3c29e;
}

/* ==END-LINKS== */

/* ==BEGIN-NAVBAR== */
.navbar-container {
    display: flex;
    height: 64px;
    width: 96vw;
    margin: 1%;
    border-color: #9ba8ab;
    border-width: 1px;
    border-style: solid;
    border-radius: 11px;
    position: fixed;
    top: 0;
    background-color: #00000060;
    backdrop-filter: blur(10px);
    z-index: 999;
}

.navbar-container a {
    font-weight: bold;
    color: #273745;
}

.navbar-container a.router-link-exact-active {
    color: #ccd0cf;

}

.navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.navbar-item > h1 {
    font-size: 22px;
    margin: 0;
}

#nav-logo {
    flex-direction: column;
    width: 60px;
    background-color: black;
    border-style: solid;
    border-color: #9c5dcfc5;
    border-radius: 8px;
    border-width: 2px;
    margin: 2px
}

#nav-logo > .navbar-item > h1 {
    margin: 0;
}

#nav-logo > #nk {
    margin-bottom: -6px;
}

/* ==END-NAVBAR== */

/* ==BEGIN-HOMEPAGE== */
.background-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}
  
.background-image {
    width: 100%;
    margin: -150px 0 0 0;
    filter: blur(50px);
}
  
.main-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 130px 0px 0px 100px;
}
  
.heading-left > .small-heading {
    font-size: 1.7rem;
    margin: 0 0 -7px 0;
    color: #ccd0cf55;
}
  
.heading-left > .big-heading {
    font-size: 4rem;
    color: rgb(242, 100, 255);
}

.header-img-container {
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    right: 140px;
    width: 800px;
    height: 1000px;
}

.header-img-container > img {
    width: inherit;
    height: fit-content;
    border-radius: 4rem;
    z-index: 0;
}

  
.header-text > h1 {
    font-weight: 300;
    font-style: italic;
}

.header-text {
    height: 100%;
    width: 20%;
    text-align: center;
    margin-top: 10%;
    color: rgba(66, 66, 66, 0.349);
    margin-left: 180px;
}

.floating-box {
    width: 90%;
    height: 200px;
    background-color: rgba(128, 128, 128, 0.052);
    margin: 200px auto 0 auto;
    border-radius: 4rem;
    box-shadow: 0px 0px 70px 10px rgba(0, 0, 0, 0.75);
    padding: 35px 35px 0 45px;
    font-weight: 600;
    font-size: 1.4rem;
}
/* ==END-HOMEPAGE== */  

.hero {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-wrapper {
    width: inherit;
    height: inherit;
}

.hero-text {
    position: fixed;
    left: 0;
    top: 300px;
    display: inline-flex;
    width: max-content;
    text-transform: uppercase;
    font-size: 999%;
    color: #00000013;
}